@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

body {
  min-height: 100vw;
  background-color: #fcfcfc;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}

.app-content {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cursor {
  cursor: pointer;
}

.user-management {
    padding: 20px;
    font-size: 14px;
    color: #505050;
}

.user-management h3 {
    margin-bottom: 20px;
}

.user-item {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
    align-items: center;
    gap: 30px;
    border: 1px solid tomato;
    padding: 20px;
    margin: 20px 0;
}

.user-item p {
    margin: 0; /* Reset default margins */
}

.user-item select {
    background-color: #ffe8e4;
    border: 1px solid tomato;
    width: max(5vw, 60px);
    padding: 10px;
    outline: none;
}

.user-list {
    margin-top: 20px;
}

.user-management form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.user-management input,
.user-management select {
    margin-bottom: 10px; /* Space between inputs */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.user-management button {
    background-color: tomato;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.user-management button:hover {
    background-color: darkred;
}

@media (max-width: 1000px) {
    .user-item {
        font-size: 12px;
        grid-template-columns: 0.5fr 2fr 1fr;
        padding: 15px 8px;
    }

    .user-item select {
        padding: 5px;
        font-size: 12px;
    }
}
