@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

body {
  min-height: 100vw;
  background-color: #fcfcfc;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}

.app-content {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cursor {
  cursor: pointer;
}

.user-management {
   display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;font-size: 13px;
     padding: 5px;
  font-size: 12px; /* Reduced font size */
  color: #505050;
}

.user-management h3 {
  margin-bottom: 15px; /* Reduced margin */
}

.user-item {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
  align-items: start;
  gap: 20px; /* Reduced gap */
  border: 1px solid tomato;
  padding: 15px; /* Reduced padding */
  margin: 20px 0; /* Reduced margin */
}

.user-item p {
  margin: 0; /* Reset default margins */
}

.user-item select {
  background-color: #ffe8e4;
  border: 1px solid tomato;
  width: max(10vw, 100px); /* Reduced minimum width */
  padding: 8px; /* Reduced padding */
  outline: none;
}

.user-list {
  margin-top: 15px; /* Reduced margin */
}

.user-management form {
  margin-bottom: 15px; /* Reduced margin */
  display: flex;
  flex-direction: column;
}

.user-management input,
.user-management select {
  margin-bottom: 8px; /* Reduced space between inputs */
  padding: 8px; /* Reduced padding */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.user-management button {
  background-color: tomato;
  color: white;
  border: none;
  padding: 8px; /* Reduced padding */
}

.user-management button:hover {
  background-color: darkred;
}

@media (max-width: 1000px) {
  .user-item {
    font-size: 10px; /* Reduced font size for smaller screens */
    grid-template-columns: 0.5fr 2fr 1fr;
    padding: 12px 6px; /* Reduced padding */
  }

  .user-item select {
    padding: 4px; /* Reduced padding */
    font-size: 10px; /* Reduced font size */
  }
}
